circle.node {

}
ellipse.node {
}

g.node {
  stroke: #fff;
}

rect.node {

}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text.node {
    text-anchor: middle;
    font: 18px Helvetica;
    stroke: black;
    text-rendering: optimizeLegibility;
    pointer-events: none;
}

text.status {
    text-anchor: left;
    font: 16px Helvetica;
    stroke: green;
    text-rendering: optimizeLegibility;
}

a.signal {
    
}