circle.node {

}
ellipse.node {
}

g.node {
  stroke: #fff;
}

rect.node {

}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text.node {
    text-anchor: middle;
    font: 12px Helvetica;
    stroke: black;
    text-rendering: optimizeLegibility;
    pointer-events: none;
}

text.status {
    text-anchor: left;
    font: 16px Helvetica;
    stroke: green;
    text-rendering: optimizeLegibility;
}

.history {
        border-top: 2px solid #44687d;
        border-bottom: 2px solid #44687d;
	position: relative;
}

.console, #console { 
    position:relative;
    overflow-y: scroll; 
    height: 100px;
    -webkit-overflow-scrolling: touch; 
}


.signal {
    display: block;
}

#signalLog {
    margin-top: 100px;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch; 
}
